interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:32:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainera2741b59?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EE57948470"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:32:58 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 14 Jun 2019 17:32:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EE57A247AD"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:32:58 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:32:57 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainera2741b59/blob1?comp=page
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - pTsTLZHyQ+et6NksJ1OHxg==
      ETag:
      - '"0x8D6F0EE57ADBB73"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:32:58 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:32:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: HEAD
    uri: https://remotestoragename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D6F0EE57B66F91"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:32:58 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Fri, 14 Jun 2019 17:32:58 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D6F0EE57B66F91"'
      x-ms-date:
      - Fri, 14 Jun 2019 17:32:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.blob.core.windows.net/utcontainera2741b59/blob1?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D6F0EE57B66F91"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:32:58 GMT
      x-ms-blob-content-length:
      - '2048'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F70DC9AF02"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:19 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F70DD33862"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:19 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:19 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1?comp=page
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - pTsTLZHyQ+et6NksJ1OHxg==
      ETag:
      - '"0x8D6F0F70DDC61CD"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:19 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D6F0F70DE4798B"'
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D6F0F70DE4798B"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:20 GMT
      x-ms-blob-content-length:
      - '2048'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:02:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainera2741b59?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72754DD5812CB"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72754DD64799F"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainera2741b59/blob1?comp=page
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72754DD6FED62"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-content-crc64:
      - EZA9hgZaRrQ=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '"0x8D72754DD7A9DAC"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-tag-count:
      - '0'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D72754DD7A9DAC"'
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainera2741b59/blob1?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D72754DD7A9DAC"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:02:54 GMT
      x-ms-blob-content-length:
      - '2048'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
