interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere52713a5?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:55 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F94537EBAA"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere52713a5/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : XrY7u+Ae7tCTyyK7j1rNww==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:55 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F94541CFDD"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:56 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 6d6c84dc-05f8-46f8-8509-739f163588f6
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere52713a5/blob1?comp=lease
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:55 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F94541CFDD"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-lease-id: 6d6c84dc-05f8-46f8-8509-739f163588f6
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5/blob1
        - comp=lease
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/containere52713a5?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containere52713a5\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,
        02 Aug 2019 03:26:56 GMT</Creation-Time><Last-Modified>Fri, 02 Aug 2019 03:26:56
        GMT</Last-Modified><Etag>0x8D716F94541CFDD</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:55 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5
        - restype=container&comp=list
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containere52713a5?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FA693E7E"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containere52713a5/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : XrY7u+Ae7tCTyyK7j1rNww==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FA71EB65"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:01 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 3f95c5c5-ebc5-4d93-a947-112a7ab5ebf5
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containere52713a5/blob1?comp=lease
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FA71EB65"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-lease-id: 3f95c5c5-ebc5-4d93-a947-112a7ab5ebf5
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5/blob1
        - comp=lease
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/containere52713a5?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"containere52713a5\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:18:01 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:18:01
        GMT</Last-Modified><Etag>0x8D72756FA71EB65</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containere52713a5
        - restype=container&comp=list
        - ''
version: 1
