interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer19021d13?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EE6467369A"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      ETag:
      - '"0x8D6F0EE6470A797"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 4fr/s+YU5sL7p0KWliOGtw==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - K7Il8LqaWJMHV6ho7VfZow==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 3vuZ5pqfH24G8VAGsfFmrg==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: HEAD
    uri: https://remotestoragename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D6F0EE6470A797"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      If-None-Match:
      - '"0x8D6F0EE6470A797"'
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer19021d13/blob1?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:b7badf3f-e01e-00e5-2ed7-2276f7000000\nTime:2019-06-14T17:33:20.0234758Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2018-03-28'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F71D4B0CD9"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:45 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      ETag:
      - '"0x8D6F0F71D54637E"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:45 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 4fr/s+YU5sL7p0KWliOGtw==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - K7Il8LqaWJMHV6ho7VfZow==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 3vuZ5pqfH24G8VAGsfFmrg==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      If-None-Match:
      - '"0x8D6F0F71D54637E"'
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:a0bf5447-c01e-0053-06df-22780f000000\nTime:2019-06-14T18:35:46.1942396Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2018-03-28'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:03:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer19021d13?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72754ED70DD34"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      ETag:
      - '"0x8D72754ED7D4D41"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - Cc/2Kr4DuKg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - +3yuPEA7IqE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer19021d13/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - VRJmMeosVKY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D72754ED7D4D41"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-tag-count:
      - '0'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      If-None-Match:
      - '"0x8D72754ED7D4D41"'
      x-ms-date:
      - Thu, 22 Aug 2019 23:03:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer19021d13/blob1?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:a2a0c66d-d01e-00c4-063d-591bc6000000\nTime:2019-08-22T23:03:21.5060738Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-02-02'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
version: 1
