interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/container573d1a44?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFBA0E26D3"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:52 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-06-15T00:42:52Z</Start><Expiry>2019-06-14T18:42:52Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/container573d1a44?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFBA179D0B"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:52 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container573d1a44?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F90A0DF87C"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:32 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-06-15T01:49:32Z</Start><Expiry>2019-06-14T19:49:32Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container573d1a44?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F90A166E83"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:32 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:16:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container573d1a44?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72756D4595FAA"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:16:57 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-22T23:16:58Z</Start><Expiry>2019-08-23T00:16:58Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:16:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container573d1a44?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72756D464CB88"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:16:58 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
