interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:27:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container13f20edc?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:27:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F948FBC67C"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:27:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container13f20edc
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 02 Aug 2019 03:27:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container13f20edc/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : XrY7u+Ae7tCTyyK7j1rNww==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:27:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F94904B486"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:27:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container13f20edc/blob1
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:27:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/container13f20edc?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"container13f20edc\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,
        02 Aug 2019 03:27:02 GMT</Creation-Time><Last-Modified>Fri, 02 Aug 2019 03:27:02
        GMT</Last-Modified><Etag>0x8D716F94904B486</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Fri,
        02 Aug 2019 03:27:02 GMT</Creation-Time><Last-Modified>Fri, 02 Aug 2019 03:27:02
        GMT</Last-Modified><Etag>0x8D716F9490D418E</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container13f20edc?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:07 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FEA0A672"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container13f20edc
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container13f20edc/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : XrY7u+Ae7tCTyyK7j1rNww==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:07 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FEA8B8D1"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container13f20edc/blob1
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/container13f20edc?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"container13f20edc\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:18:08 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:18:08
        GMT</Last-Modified><Etag>0x8D72756FEA8B8D1</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:18:08 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:18:08
        GMT</Last-Modified><Etag>0x8D72756FEB0826D</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Di[...]
