interactions:
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '8796093022209'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 14 Jun 2019 17:43:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:d1fa71c9-801e-0032-2ad8-223cd0000000\nTime:2019-06-14T17:43:42.2642316Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - InvalidHeaderValue
      x-ms-version:
      - '2018-03-28'
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '8796093022209'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 14 Jun 2019 18:50:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:58920d10-501e-0074-54e2-22e246000000\nTime:2019-06-14T18:50:31.8469247Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - InvalidHeaderValue
      x-ms-version:
      - '2018-03-28'
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-blob-content-length:
      - '8796093022209'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:19:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:0750c885-e01e-00cc-7a40-5900b5000000\nTime:2019-08-22T23:19:23.5310092Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - InvalidHeaderValue
      x-ms-version:
      - '2019-02-02'
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
