interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container65d81652?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F945C777B2"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container65d81652
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:57 GMT
      x-ms-meta-status:
      - original
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container65d81652/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : XrY7u+Ae7tCTyyK7j1rNww==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F945D046B5"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:26:57 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container65d81652/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-copy-source:
      - https://amqptest.blob.core.windows.net/container65d81652/blob1
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:57 GMT
      x-ms-meta-status:
      - copy
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container65d81652/blob1copy
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F945DAF6F7"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:26:57 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-copy-id: 87515524-8d52-46a9-ac29-f3c6800494f2
      x-ms-copy-status: success
      x-ms-version: '2018-03-28'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container65d81652/blob1copy
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:26:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/container65d81652?include=copy&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"container65d81652\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,
        02 Aug 2019 03:26:57 GMT</Creation-Time><Last-Modified>Fri, 02 Aug 2019 03:26:57
        GMT</Last-Modified><Etag>0x8D716F945D046B5</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1copy</Name><Properties><Creation-Time>Fri,
        02 Aug 2019 03:26:57 GMT</Creation-Time><Last-Modified>Fri, 02 Aug 2019 03:26:57
        GMT</Last-Modified><Etag>0x8D716F945DAF6F7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>87515524-8d52-46a9-ac29-f3c6800494f2</CopyId><CopySource>https://storagename.blob.core.windows.net/container65d81652/blob1</CopySource><CopyStatus>success</CopyStatus><CopyProgress>11/11</CopyProgress><CopyCompletionTime>Fri,
        02 Aug 2019 03:26:57 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:26:56 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container65d81652
        - include=copy&restype=container&comp=list
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container65d81652?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FB15F18D"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container65d81652
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:03 GMT
      x-ms-meta-status:
      - original
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container65d81652/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : XrY7u+Ae7tCTyyK7j1rNww==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FB1F3AF5"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:03 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container65d81652/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-copy-source:
      - https://amqptest.blob.core.windows.net/container65d81652/blob1
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:03 GMT
      x-ms-meta-status:
      - copy
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container65d81652/blob1copy
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:18:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72756FB3CB366"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:18:03 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-copy-id: d10d1ea2-caf3-4c9e-9330-60ddc0f9a816
      x-ms-copy-status: success
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /container65d81652/blob1copy
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:18:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/container65d81652?include=copy&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"container65d81652\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:18:03 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:18:03
        GMT</Last-Modified><Etag>0x8D72756FB1F3AF5</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>blob1copy</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:18:03 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:18:03
        GMT</Last-Modified><Etag>0x8D72756FB3CB366</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Conten[...]
