interactions:
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 4fr/s+YU5sL7p0KWliOGtw==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - K7Il8LqaWJMHV6ho7VfZow==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 3vuZ5pqfH24G8VAGsfFmrg==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=blocklist
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - GD5pABqdSyI51XhMKrkBRA==
      ETag:
      - '"0x8D6F0EE8C1A743B"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:34:26 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blocklisttype=committed&comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MQ==</Name><Size>3</Size></Block><Block><Name>Mg==</Name><Size>3</Size></Block><Block><Name>Mw==</Name><Size>3</Size></Block></CommittedBlocks></BlockList>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D6F0EE8C1A743B"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:34:26 GMT
      x-ms-blob-content-length:
      - '9'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:37:03 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 4fr/s+YU5sL7p0KWliOGtw==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:37:03 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - K7Il8LqaWJMHV6ho7VfZow==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:37:03 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 3vuZ5pqfH24G8VAGsfFmrg==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 14 Jun 2019 18:37:03 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=blocklist
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - GD5pABqdSyI51XhMKrkBRA==
      ETag:
      - '"0x8D6F0F74B999814"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:37:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:37:03 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blocklisttype=committed&comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MQ==</Name><Size>3</Size></Block><Block><Name>Mg==</Name><Size>3</Size></Block><Block><Name>Mw==</Name><Size>3</Size></Block></CommittedBlocks></BlockList>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D6F0F74B999814"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:37:03 GMT
      x-ms-blob-content-length:
      - '9'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - Cc/2Kr4DuKg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - +3yuPEA7IqE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - VRJmMeosVKY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=blocklist
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72755710ED7A7"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:07:01 GMT
      x-ms-content-crc64:
      - dAoQ5rLgKr0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer3074153d/blob3074153d?blocklisttype=committed&comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MQ==</Name><Size>3</Size></Block><Block><Name>Mg==</Name><Size>3</Size></Block><Block><Name>Mw==</Name><Size>3</Size></Block></CommittedBlocks></BlockList>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D72755710ED7A7"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:07:01 GMT
      x-ms-blob-content-length:
      - '9'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
