interactions:
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D6F0EE82177548"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:34:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: HEAD
    uri: https://remotestoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D6F0EE82177548"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:34:09 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 14 Jun 2019 17:34:09 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragename.blob.core.windows.net/\" ContainerName=\"utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Creation-Time>Fri,
        14 Jun 2019 17:34:09 GMT</Creation-Time><Last-Modified>Fri, 14 Jun 2019 17:34:09
        GMT</Last-Modified><Etag>0x8D6F0EE82177548</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer21831965/blob21831965?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: HEAD
    uri: https://remotestoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D6F0EE82177548"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:34:09 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Fri, 14 Jun 2019 17:34:09 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 14 Jun 2019 17:34:09 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragename.blob.core.windows.net/\" ContainerName=\"utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Creation-Time>Fri,
        14 Jun 2019 17:34:09 GMT</Creation-Time><Last-Modified>Fri, 14 Jun 2019 17:34:09
        GMT</Last-Modified><Etag>0x8D6F0EE82177548</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><AccessTierChangeTime>Fri,
        14 Jun 2019 17:34:09 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:34:09 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://remotestoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 18:36:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D6F0F73F46C042"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:36:42 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:36:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Creation-Time>Fri,
        14 Jun 2019 18:36:42 GMT</Creation-Time><Last-Modified>Fri, 14 Jun 2019 18:36:42
        GMT</Last-Modified><Etag>0x8D6F0F73F46C042</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Fri, 14 Jun 2019 18:36:43 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer21831965/blob21831965?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:06:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D727555C71A4A9"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:06:27 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:06:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D727555C71A4A9"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:06:27 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 22 Aug 2019 23:06:27 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-tag-count:
      - '0'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:06:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:06:27 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:06:27
        GMT</Last-Modified><Etag>0x8D727555C71A4A9</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Thu, 22 Aug 2019 23:06:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:06:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
