interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/containerc02c0c5f?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFB808B097"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:49 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/containerc02c0c5f/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D6F0EFB813834A"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:49 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.blob.core.windows.net/containerc02c0c5f?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragename.blob.core.windows.net/\" ContainerName=\"containerc02c0c5f\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,
        14 Jun 2019 17:42:49 GMT</Creation-Time><Last-Modified>Fri, 14 Jun 2019 17:42:49
        GMT</Last-Modified><Etag>0x8D6F0EFB813834A</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Fri,
        14 Jun 2019 17:42:49 GMT</Creation-Time><Last-Modified>Fri, 14 Jun 2019 17:42:49
        GMT</Last-Modified><Etag>0x8D6F0EFB81D7024</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerc02c0c5f?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F907CFD509"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:28 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerc02c0c5f/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D6F0F907D9F22E"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:28 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/containerc02c0c5f?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containerc02c0c5f\"><Blobs><Blob><Name>blob1</Name><Properti[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:16:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containerc02c0c5f?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D72756D17359CC"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:16:53 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:16:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containerc02c0c5f/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D72756D1803467"'
      Last-Modified:
      - Thu, 22 Aug 2019 23:16:53 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:16:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/containerc02c0c5f?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"containerc02c0c5f\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:16:53 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:16:53
        GMT</Last-Modified><Etag>0x8D72756D1803467</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Thu,
        22 Aug 2019 23:16:53 GMT</Creation-Time><Last-Modified>Thu, 22 Aug 2019 23:16:53
        GMT</Last-Modified><Etag>0x8D72756D18D0802</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
