interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:10:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:10:07 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F6ECE68FC9"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:10:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainer1c7814d1
        - restype=container
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:10:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:31780dec-801e-0010-32df-4852e6000000\nTime:2019-08-02T03:10:08.9023840Z</Message></Error>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '230'
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:10:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-error-code: ContainerAlreadyExists
      x-ms-version: '2018-03-28'
    status:
      code: 409
      message: The specified container already exists.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainer1c7814d1
        - restype=container
        - ''
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 02 Aug 2019 03:10:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : 1B2M2Y8AsgTpgAmY7PhCfg==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:10:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F6ECF6331C"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:10:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainer1c7814d1/blob1c7814d1
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:10:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1?blocklisttype=all&comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks
        /><UncommittedBlocks /></BlockList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:10:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F6ECF6331C"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:10:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-blob-content-length: '0'
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainer1c7814d1/blob1c7814d1
        - blocklisttype=all&comp=blocklist
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer1c7814d1?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:07:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7275582ED0556"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:07:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainer1c7814d1
        - restype=container
        - ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : 1B2M2Y8AsgTpgAmY7PhCfg==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:07:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7275582FDAB76"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:07:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-content-crc64: AAAAAAAAAAA=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainer1c7814d1/blob1c7814d1
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:07:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1?blocklisttype=all&comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks
        /><UncommittedBlocks /></BlockList>"
    headers[...]
