interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 02:59:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerb5cd226a?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F581A76226"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainerb5cd226a
        - restype=container
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 02 Aug 2019 02:59:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerb5cd226a/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F581B0429C"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainerb5cd226a/blob1
        - ''
        - ''
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 02:59:59 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerb5cd226a/blob1?comp=page
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : pTsTLZHyQ+et6NksJ1OHxg==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F581B65D5A"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-blob-sequence-number: '0'
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainerb5cd226a/blob1
        - comp=page
        - ''
[...]
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Fri, 02 Aug 2019 03:14:59 GMT
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 02:59:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainerb5cd226a/blob1?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F581C889D5"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 02:59:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-blob-content-length: '2048'
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainerb5cd226a/blob1
        - comp=pagelist
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:04:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainerb5cd226a?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:04:33 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D72755192E4DEA"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:04:34 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainerb5cd226a
        - restype=container
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 22 Aug 2019 23:04:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainerb5cd226a/blob1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:04:34 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7275519392DDC"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:04:34 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainerb5cd226a/blob1
        - ''
        - ''
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 23:04:34 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainerb5cd226a/blob1?comp=page
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 22 Aug 2019 23:04:34 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7275519408237"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Thu, 22 Aug 2019 23:04:34 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-blob-sequence-number: '0'
      x-ms-content-crc64: EZA9hgZaRrQ=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /utcontainerb5cd226a/blob1
        - comp=page
        - ''
[...]
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Thu, 22 Aug 2019 23:19:34 GMT
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 23:04:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainerb5cd226a/blob1?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511[...]
